name: Package-build

on:

  workflow_dispatch:

    inputs:

      TERMINAL:
        description: '终端调试'
        required: true
        default: false
        type: boolean

          
env:

  SDK_URL: https://github.com/robinZhao/Actions-OpenWrt-NSY/releases/download/2026.01.15-18.40_all_in-openwrt-g68-plus/2026.01.15_all_in-openwrt-sdk-25.12.0-rc2-rockchip-armv8_gcc-14.3.0_musl.Linux-x86_64.tar.zst
  TZ: Asia/Shanghai
  GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}

jobs:
  Build:
    runs-on: ubuntu-24.04

    outputs:
      COMMIT_AUTHOR: ${{ steps.clone.outputs.COMMIT_AUTHOR }}
      COMMIT_DATE: ${{ steps.clone.outputs.COMMIT_DATE }}
      COMMIT_MESSAGE: ${{ steps.clone.outputs.COMMIT_MESSAGE }}
      COMMIT_HASH: ${{ steps.clone.outputs.COMMIT_HASH }}
      DEVICE_TARGET: ${{ steps.variable.outputs.DEVICE_TARGET }}
      DEVICE_SUBTARGET: ${{ steps.variable.outputs.DEVICE_SUBTARGET }}

    steps:
    - name: 合并磁盘
      uses: easimon/maximize-build-space@master
      with:
        swap-size-mb: 1024
        temp-reserve-mb: 100
        root-reserve-mb: 1024

    - name: 准备完成
      uses: actions/checkout@main

    - name: 创建工作目录
      run: |
        mkdir -p ${GITHUB_WORKSPACE}/workdir
        chmod 755 ${GITHUB_WORKSPACE}/workdir
        sudo chown $USER:$GROUPS ${GITHUB_WORKSPACE}/workdir
        echo "WORKDIR=$PWD" >> $GITHUB_ENV

    - name: 检查服务器性能
      run: |
        echo "警告⚠"
        echo "分配的服务器性能有限，若选择的插件过多，务必注意CPU性能！"
        echo -e "已知CPU型号(降序): 7763，8370C，8272CL，8171M，E5-2673\n"
        echo "--------------------------CPU信息--------------------------"
        echo "CPU物理数量: $(cat /proc/cpuinfo | grep "physical id" | sort | uniq | wc -l)"
        echo "CPU核心数量: $(nproc)"
        echo -e "CPU型号信息:$(cat /proc/cpuinfo | grep -m1 name | awk -F: '{print $2}')\n"
        echo "--------------------------内存信息--------------------------"
        echo "已安装内存详细信息:"
        echo -e "$(sudo lshw -short -C memory | grep GiB)\n"
        echo "--------------------------硬盘信息--------------------------"
        echo "硬盘数量: $(ls /dev/sd* | grep -v [1-9] | wc -l)" && df -hT

   

    - name: 初始化环境
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        df -hT
        echo "------------------------------- 安装依赖 -------------------------------"

        sudo -E apt-get -qq update
        sudo -E apt-get -y install build-essential clang flex bison g++ gawk \
        gcc-multilib g++-multilib gettext git libncurses5-dev libssl-dev \
        python3-setuptools rsync swig unzip zlib1g-dev file wget \
        libpython3-dev python3 python3-pip python3-cryptography python3-docutils \
        python3-ply python3-pyelftools python3-requests  clang llvm

        echo "------------------------------- 设置工作目录及时区 -------------------------------"
        sudo timedatectl set-timezone "$TZ"

    - name: 设置源代码变量
      # working-directory: ${{ env.WORKDIR }}/workdir
      id: setenv
      run: |
        echo "DATE=$(date +"%Y-%m-%d %H:%M:%S")" >> $GITHUB_ENV
        echo "TAG_DATE=$(date +"%Y.%m.%d-%H.%M")" >> $GITHUB_ENV

    - name: 下载sdk
      working-directory: ${{ env.WORKDIR }}/workdir
      id: clone
      run: |
        wget  ${{ env.SDK_URL }}
        tar -I zstd -xvf *.tar.zst
        mv openwrt-sdk* sdk
        cd sdk
        echo "SDK_PATH=$PWD" >> $GITHUB_ENV


    - name: 编译packages
      id: variable
      run: |
        cd ${{ env.SDK_PATH }}
        chmod +x ${GITHUB_WORKSPACE}/packages/compile_packages.sh
        ${GITHUB_WORKSPACE}/packages/compile_packages.sh
        cd ${{ env.SDK_PATH }}/bin/
        mkdir dists
        tar -zcvf packages.tar.gz packages
        mv packages.tar.gz dists/
        rm -rf packages
        echo "FIRMWARE_PATH=$PWD/dists" >> $GITHUB_ENV



    - name: ssh连接
      uses: P3TERX/ssh2actions@v1.0.0
      if: ${{ inputs.TERMINAL }}

    - name: 上传发布固件
      if: steps.compile.outputs.status == 'success' && env.FIRMWARE_RELEASE == 'true'
      uses: ncipollo/release-action@v1
      with:
        name: R${{ env.DATE }} Packages 
        commit: ${{ github.sha }}
        allowUpdates: true
        tag: ${{ env.TAG_DATE }}-packages
        token: ${{ secrets.GITHUB_TOKEN }}
        artifacts: ${{ env.FIRMWARE_PATH }}/*
        body: |
          **This is OpenWrt Packages**
