
name: TEST-RELEASE

on:
  schedule:
    - cron: '0 20 * * *'
  workflow_dispatch:
    inputs:



          



jobs:
  Build:
    runs-on: ubuntu-24.04
    
    steps:
    - name: checkout
      uses: actions/checkout@main

    - name: print tag
      run: |
        echo  ${{ github.sha }}
    - name: 初始化环境
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        df -hT
        echo "------------------------------- 安装依赖 -------------------------------"

        sudo -E apt-get -qq update
        sudo -E apt-get -y install build-essential clang flex bison g++ gawk \
        gcc-multilib g++-multilib gettext git libncurses5-dev libssl-dev \
        python3-setuptools rsync swig unzip zlib1g-dev file wget \
        libpython3-dev python3 python3-pip python3-cryptography python3-docutils \
        python3-ply python3-pyelftools python3-requests 

        echo "------------------------------- 设置工作目录及时区 -------------------------------"
        sudo timedatectl set-timezone Asia/Shanghai
        apt list llvm-* clang-*
    - name: ssh连接
      uses: P3TERX/ssh2actions@v1.0.0
        
